<a href="https://colab.research.google.com/github/amelisov/ml_intro/blob/main/(2)ml_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

В библиотеке scikit-learn решающие деревья реализованы в классах sklearn.tree.DecisionTreeСlassifier (для классификации) и sklearn.tree.DecisionTreeRegressor (для регрессии). Обучение модели производится с помощью функции fit.

In [6]:
# Example
X = np.array([[1, 2], [3, 4], [5, 6]])
y = np.array([0, 1, 0])
clf = DecisionTreeClassifier()
clf.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [7]:
# Как найти важность признака
importances = clf.feature_importances_

In [8]:
# Как проверить число
np.isnan(X)

array([[False, False],
       [False, False],
       [False, False]])

In [2]:
url = 'https://raw.githubusercontent.com/amelisov/ml_intro/main/train_titanic.csv'
data = pd.read_csv(url, index_col = 'PassengerId')
data.head()

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S

[5 rows x 11 columns]

In [3]:
data_1 = data[['Pclass', 'Fare', 'Age', 'Sex']]
data_1.head()

             Pclass     Fare   Age     Sex
PassengerId
1                 3   7.2500  22.0    male
2                 1  71.2833  38.0  female
3                 3   7.9250  26.0  female
4                 1  53.1000  35.0  female
5                 3   8.0500  35.0    male

In [4]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Fare    891 non-null    float64
 2   Age     714 non-null    float64
 3   Sex     891 non-null    object
dtypes: float64(2), int64(1), object(1)
memory usage: 34.8+ KB

In [5]:
data_1 = data_1.dropna(axis = 0)
data_1.shape

(714, 4)

In [6]:
s = (data[['Survived', 'Age']].dropna(axis = 0))['Survived']
s.shape

(714,)

In [7]:
clf = DecisionTreeClassifier(random_state = 241)

In [8]:
gender = {'male': 0, 'female': 1}
data_1['Sex'] = [gender[item] for item in data_1['Sex']]
data_1['Sex']

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
886    1
887    0
888    1
890    0
891    0
Name: Sex, Length: 714, dtype: int64

In [10]:
clf.fit(data_1, s)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=241, splitter='best')

In [11]:
importances = clf.feature_importances_

In [14]:
importances

array([0.14751816, 0.29538468, 0.25658495, 0.30051221])

$$\Rightarrow Признаки\ с\ индексами\ 2('Fare')\ и\ 4('Sex')\ самые\ важные$$